<html>

<head>
    <title>Home</title>
  	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <%- include('header') %>
        <%- include(view) %>
            <%- include('footer') %>
</body>

</html>
