<!DOCTYPE html>
<html>
<head>
	<title>
		Login
	</title>

	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  	<link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="bower_components/underscore/underscore.js"></script>

</head>
<body>
<div class="container">
  <h1>Products<h1>
<%= products.query %>

</body>
</html>
